<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Analyseur de Texte</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Analyseur de texte avancé</h1>
        <form method="post" enctype="multipart/form-data">
            <input type="file"  accept=".txt" required>
            <button type="submit">Analyser</button>
        </form>

        {% if resultats %}
            <div class="resultats">
                <h2> Résultats</h2>
                <ul>
                    <li><strong>Lignes :</strong> {{ resultats.lignes }} </li>
                    <li><strong>Paragraphes :</strong> {{ resultats.paragraphes }} </li>
                    <li><strong>Mots : </strong> {{ resultats.mots}} </li>
                    <li><strong>Caractères (sans espaces) </strong> {{ resultats.caracteres_sans_espaces }} </li>
                </ul>
                <h3> Top mots : </h3>
                <ol>
                    {% for mot, nb in resultats.top_mots %}
                        <li>{{ mot }} : {{ nb }}</li>
                    {% endfor %}
                </ol>
            </div>
        {% endif %}
    </div>
</body>
</html>